/*comments*/
.comments-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 2.2vh;
    color: rgb(84,84,84);
    font-family: Verdana, serif !important
  }
  
  .user-comment {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  }
  
  .user-name {
   font-weight: bold;
    font-size: 14px;
    color: #000408c5;
  }
  
  .comment-title{
    margin-top: 50px;
    font-size: 3.3vh;
    color: rgb(20, 20, 20);
    font-weight: 510;
    margin-bottom: 30px;
  }
  